{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-publictransportpage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/public_transport_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <section class="public-transport-page">
        <h1>{{ page.title }}</h1>
        <ul class="station-meta">
            {% if page.category %}<li>Category: {{ page.category }}</li>{% endif %}
            {% if page.system %}<li>System: {{ page.system }}</li>{% endif %}
            {% if page.line %}<li>Lines: {{ page.line }}</li>{% endif %}
            {% if page.station_code %}<li>Station code: {{ page.station_code }}</li>{% endif %}
            {% if page.latitude and page.longitude %}
                <li>Coordinates: {{ page.latitude }}, {{ page.longitude }}</li>
            {% endif %}
            {% if page.wikidata_url %}
                <li><a href="{{ page.wikidata_url }}">Wikidata</a></li>
            {% endif %}
        </ul>
        {% if page.intro %}
            <div class="intro">{{ page.intro|richtext }}</div>
        {% endif %}
        {% if page.body %}
            <div class="body">{{ page.body|richtext }}</div>
        {% endif %}
    </section>
{% endblock content %}
